<div class="question font_ui  m-b_4">
   <label for="uniqueTextInputIdIcon" class="label-holder flex font-size_up font_medium p-y_2 m-b_0">
      <span class="text cell flex_shrink">Participant 
      </span>
      <span class="required-holder flex_shrink font_n5">
         <i class="fas fa-asterisk c_warning  vertical-align_top"></i>
      </span>
   </label>
   <div class="input-holder flex self_end">
      <input data-v-b56e78ec="" id="uniqueTextInputIdIcon" name="uniqueTextInputIdIcon" required="required" type="text" class="br_1 p-y_2 br_solid flex_auto p-l_4 lh_3  c_black bg_white-0 br_black-3  br-l_0 br_radius shadow_emboss-light"></div>
      <div class="font-size_down"></div>
   </div>
