<div class="question font_ui">
   <label for="uniqueTextInputIdIcon" class="label-holder flex font-size_up font_medium p-y_2">
      <span class="text cell flex_shrink">User Name
      </span>
      <span class="required-holder flex_shrink font_n5">
         <i class="fas fa-asterisk c_warning  vertical-align_top"></i>
      </span>
   </label>
   <div class="input-holder flex self_end">
      <label for="inputId" class="value-space br_solid br_2 p_3 texture_light flex_shrink c_black-7 bg_black-1 br_black-3">
         <i class="fas fa-user"></i>
      </label>
      <input data-v-b56e78ec="" id="uniqueTextInputIdIcon" name="uniqueTextInputIdIcon" required="required" type="text" class="br_2 p-y_2 br_solid flex_auto p-l_4 lh_3  c_black bg_white-0 br_black-3  br-l_0"></div>
      <div class="font-size_down"></div>
   </div>
